// COLOR

$light: #fff;
$dark: hsl(338, 29%, 17%);

$lightgray: hsl(0, 0%, 54%);
$orange: hsl(19, 91%, 58%);
$orange-1: hsl(19, 91%, 48%);
$yellow: hsl(36, 95%, 57%);

// breakpoint
$mobile: 520px;
$tablet: 980px;
