.bestseller {
  min-height: 100vh;

  &__item {
    min-height: 75vh;
  }
  &__item__grid {
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
  }

  &__item__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item__content {
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
      max-width: 70rem;
      h2 {
        font-size: 4rem;
        font-weight: 800;
      }
      .rating {
        display: flex;
        margin-bottom: 3rem;
        li {
          margin-right: 0.5rem;
          color: $yellow;
        }
      }

      .meta {
        display: flex;
        max-width: 37rem;
        margin-bottom: 3rem;
        li {
          margin: 0 1rem;
          text-align: center;
        }
      }

      .description {
        margin-bottom: 3rem;
        max-width: 43rem;
      }
    }
  }

  &__nav {
    width: 60vw;
    margin: 0 auto;
    .slick-list {
      padding: 0 !important;
    }
  }

  &__navItem {
    display: flex;
    cursor: pointer;
    img {
      width: 12rem;
      margin: 0 auto 1rem;
      transition: 0.5s ease;
    }
    h2 {
      text-align: center;
    }
  }
  &__navItem:hover {
    img {
      width: 14rem;
    }
  }
}

// SLICK SLIDER

.slick-prev::before {
  font-family: "Font Awesome 5 Free";
  content: "\f359";
  font-size: 4rem;
  color: $orange;
  display: block;
}
.slick-next::before {
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  font-size: 4rem;
  color: $orange;
  display: block;
}

.slick-next,
.slick-prev {
  top: 50px;
}
